[Unit]
Description=Sleep Monitoring Logger
After=network-online.target bluetooth.service
Wants=network-online.target bluetooth.service

[Service]
Type=simple

# Run as root so BLE + bluetooth reset work cleanly
User=root
Group=root

WorkingDirectory=/home/ethermious/repos/sleep_monitoring

Environment="PYTHONUNBUFFERED=1"
Environment="SLEEPU_DB_PATH=/home/ethermious/sleepu_logs/sleepu.db"

ExecStart=/home/ethermious/repos/sleep_monitoring/venv/bin/python -m sleep_monitoring.logger_service

# Automatically restart on failure
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
